body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

header#section-prop {
    padding-block-end: 28.3%;
    text-align: center;
    background: url("img/sweet04.svg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

header#section-prop .head-text img {
    z-index: 1;
}

